<section>
    <div class="container mx-auto">
        <h1 class="pt-12 text-lg font-bold mb-4">All Orders</h1>
        <table class="w-full bg-white my-4">
            <thead>
                <tr class="text-left">
                    <th class="text-md py-2 px-4 text-bold">Orders</th>
                    <th class="text-md py-2 px-4 text-bold">Customer</th>
                    <th class="text-md py-2 px-4 text-bold">Address</th>
                    <th class="text-md py-2 px-4 text-bold">Mobile</th>
                    <th class="text-md py-2 px-4 text-bold">status</th>
                    <th class="text-md py-2 px-4 text-bold">Placed at</th>
                </tr>
            </thead>
            <tbody class="orderTableBody">
            </tbody>
        </table>
    </div>
</section>


