@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

$primary : #FE5F1E;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;

body {
    font-family: "Lato" sans-serif;
  }
  
  .container {
    width: 80%;
    margin: auto;
  }
  
  ul li a:hover {
    color: $primary;
    transition: all 0.3s ease-in;
  }
  
  .cart-icon ul li:last-child {
    background-color: $primary;
  }
  
  .cart-icon ul li:last-child:hover {
    background-color: $primary-hover;
    transition: all 0.3s ease-in;
  }
  
  button {
    background-color: $primary;
    &:focus{
      outline: none;
    }
    &:hover{
      background-color: $primary-hover;
      transition: all 0.3s ease-in;
    }
  }
 
  .login,
  .register,
  .cart {
    background-color: $secondary;
    min-height: calc(100vh - 86px);
  }
  
  .log-in {
    color: $primary;
  }
  
  .log-in:hover {
    color: $primary-hover;
    transition: all 0.3s ease-in;
  }
  
  .noty_theme__mint {
    border-radius: 50px!important;
    padding-left: 8px!important;
  }
  a.link{
    color: $primary;
    &:hover{
      color:$primary-hover;
    }
  }

 .status{
  background-color: $secondary;
  min-height: calc(100vh - 86px)
 }

 .status-box ul li{
   margin-left: 84px;
 } 

 .status-box ul li span{
   position: relative;
   padding-left: 10px;
  
 }
//Dots before li element
 .status-box ul li span:after {
   content: '';
   position:absolute;
   left: -10px;
   top: 50%;
   transform: translateY(-50%);
   width:10px;
   height: 10px;
   background:$dark;
   border-radius: 50%;
 }
 
 .status-box ul li span{
   position: relative;
 }
 //icons
 .status-box ul li span:before{
  
  font-family: "Line Awesome Free";
  font-weight: 600;
  font-size: 46px;
  top:50%;
  left:-90px;
  transform: translateY(-50%);
  position: absolute;
  color: inherit;
 }

 .status-box ul li:nth-child(1) span:before{
  content: '\f46c';
 }

 .status-box ul li:nth-child(2) span:before{
  content: '\f560';
 }

 .status-box ul li:nth-child(3) span:before{
  content: '\f818';
 }

 .status-box ul li:nth-child(4) span:before{
  content: '\f0d1';
 }

 .status-box ul li:nth-child(5) span:before{
  content: '\f582';
 }

 .status-box ul li{
   position: relative;
 }

 .status-box ul li:before{
   content: '';
   width: 2px;
   height: 65px;
   top:0;
   left: -6px;
   position: absolute;
   background: $dark;
   margin-top: 30px;  
 }
 .status-box ul li:nth-child(5) span:after{
   box-shadow: 0 60px 20px 50px $secondary;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   left:-13px;
   top: 10px;
 } 
 .status-box ul li.step-completed:before{
   background: $gray;
 }

 .status-box ul li.step-completed span:after{
   background: $gray;
 }
  .status-box ul li.step-completed{
    color: $gray;
  }

  .status-box ul li.current{
    color: $primary;
  }
  .status-box ul li.current span:after{
    background: $primary;
  }

 .status-box ul li small{
   float: right;
   color: $dark;
   margin-top: 8px;
   font-size: 14px;
 }